.git
.gitignore

.vs
.vscode
.idea
*.user
*.suo

**/bin/
**/obj/
**/out/
**/publish/

**/node_modules/
**/dist/
**/.next/

**/docker-compose*.yml
**/.env
**/Dockerfile*

.DS_Store
Thumbs.db

*.md
!README.md
LICENSE

**/TestResults/
**/coverage/
